.flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
.flex-container > div {
    width: auto;
    margin: 10px;
    text-align: left;
    font-size: 20;
  }

div > .right {
    align-self: flex-end;
    width: auto;
    margin: 10px;
    text-align: left;
    font-size: 20;
  }

div > .left {
    align-self: flex-start;
    width: auto;
    margin: 10px;
    text-align: left;
    font-size: 20;
  }

.header {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
  }